{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Recettes publiées</h1>

    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.title }}</strong><br>
                {{ recipe.description|length > 100 ? recipe.description|slice(0, 100) ~ '...' : recipe.description }}
                <br>
                <a href="{{ path('recipe_show', {'id': recipe.id}) }}">Voir</a>
            </li>
        {% else %}
            <li>Aucune recette publiée pour le moment.</li>
        {% endfor %}
    </ul>
{% endblock %}
